@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

#dynamicDropdown , #dynamicDropdown2 {
    display: flex;
    align-items: center;
    border-radius: 22px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    height: 100%;
    object-fit: cover;
    filter:brightness(50%);
    background-color: burlywood;
    text-align: center;
    margin: 20px;
    
}

header {
    background-image:url("../backend/basse\ -\ Copie.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 30vh;
    background-color: beige;
    position: relative;


}

body {
    
    background-image: url("../backend/bass-guitar-back.jpg");
    background-size: cover;
}

h1 {
    margin: 12px;
    color:fuchsia;
    padding-left: 300px;
    box-shadow: 12px;
    
}